<html>

<head>
  <!-- css framework bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">

  <!-- user files -->
  <script src="{{ url_for('static', path='scripts/scripts.js') }}"></script>
  <link rel='stylesheet' href="{{ url_for('static', path='/css/style.css') }}">
  <link rel='shotcut icon' href="{{ url_for('static', path='favicon.ico') }}">

  <title> Hoge </title>
</head>

<body>
  <h2>AAA company</h2>
  <h3>上場記念祝賀会</h3>

  <canvas id="confetti"></canvas>
  <button class="button is-info is-light" id='start-btn'>START!</button>
</body>

</html>
