<html>

<head>
  <audio autoplay>
    <source src="{{ url_for('static', path='Quiz-Question02-1.mp3') }}">
  </audio>
  <audio autoplay loop>
    <source src="{{ url_for('static', path='clock.mp3') }}">
  </audio>
  <audio id='correct_se' autostart='0' autostart='false'>
    <source src="{{ url_for('static', path='Quiz-Correct_Answer02-1.mp3') }}">
  </audio>
  <!-- css framework bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">

  <!-- user files -->
  <script src="{{ url_for('static', path='scripts/scripts.js') }}"></script>
  <link rel='shotcut icon' href="{{ url_for('static', path='favicon.ico') }}">
  <style>
    .container {
      height: 100%;
      width: 100%;
    }

    .box {

      height: 80%;
    }

    h1,
    h2,
    h3 {
      text-align: center;
      margin: 0;
      font-family: 'Zen Maru Gothic', sans-serif;
    }

    body {
      font-family: 'Zen Maru Gothic', sans-serif;
      background-color: #FFFFE0;
    }

    #ans-btn {
      font-family: 'Zen Maru Gothic', sans-serif;
      font-weight: bold;
    }

    .modal-card-body span {
      font-size: 40px;
    }
  </style>

  <title> quiz </title>
</head>

<body>

  <div class='container'>
    <h1 class="title is-1">問題</h1>
    <div id='quiz-box' class="box" style='font-size: 2rem'>
      {{ ret.question }} <br>
      <div class='container has-text-centered'>
        <!-- TODO: 80%じゃだめかも -->
        <img src='{{ ret.image_url }}' style='height:80%'>
      </div>
    </div>
    <button class="js-modal-trigger button is-warning is-pulled-right " data-target="modal-js-example">正解!</button>
  </div>

  <div id='modal-js-example' class="modal">
    <div class="modal-background" style='background-color: rgba(0,0,0,0.3)'></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">正解</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <span>{{ ret.answer }}</span>
        <a href='./random/' class="button is-warning is-pulled-right">抽選!</a>
      </section>
    </div>
  </div>
  <script src="{{ url_for('static', path='scripts/modal.js') }}"></script>

</body>

</html>